* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.header {
    padding: 15px 0;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigecion-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #939699;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.button {
    padding: 10px 20px;
    background: #4592FF;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.button-icon {
    margin-right: 10px;
}

.slide {
    padding-top: 90px;
    padding-bottom: 110px;
}

.slide-1 {
    background: #B4D1E0 url('../img/slide-image-1.png') no-repeat top right 30%;
}

.slide-2 {
    background: #a8cfa3 url('../img/slide-image-1.png') no-repeat top right 30%;
}

.slide-3 {
    background: #e6cda8 url('../img/slide-image-1.png') no-repeat top right 30%;
}

.label {
    background-color: #3DC47E;
    border-radius: 3px;
    color: #fff;
    padding: 5px 12px;
    font-size: 12px;
    line-height: 15px;
}

.slide-title {
    color: #262D33;
    font-size: 55px;
    line-height: 70px;
    font-family: 'Roboto Slab', serif;
    margin-top: 20px;
    margin-bottom: 15px;
}

.slede-description {
    font-size: 18px;
    line-height: 30px;
    color: #4B5157;
    max-width: 335px;
    margin-bottom: 40px;
}

.button-icon,
.button-price {
    margin-right: 10px;
}

.button-icon:last-child {
    margin-right: 0;
    margin-left: 10px;
}

.slider {
    position: relative;
}

.slider-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    z-index: 9;
}

.slider-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.card {
    min-height: 370px;
    border-radius: 10px;
    padding-top: 60px;
    padding-left: 46px;
    padding-right: 46px;
    padding-bottom: 80px;
}

.card-1 {
    background: #E2E0DF url('../img/Image-1.jpg') no-repeat top right;
    background-size: cover;
}

.card-title {
    color: #262D33;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    max-width: 236px;
    margin: 0;
}

.card-title.large {
    max-width: 420px;
    font-size: 40px;
    line-height: 50px;
    margin-top: 30px;
    margin-bottom: 20px;

}

.card-text {
    max-width: 176px;
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
    margin-bottom: 25px;
}

.card-text.large {
    max-width: 320px;

}

.card-2 {
    background: #000 url('../img/image-2.jpg') no-repeat top right;
    background-size: cover;
}

.text-light {
    color: #fff;
}

.card-3 {
    padding-top: 35px;
    background: #CCD5E6 url('../img/image-3.png') no-repeat top right 30%;
    background-size: contain;
}

.card-4 {
    padding-top: 35px;
    padding-left: 25px;
    background: #FF4F52 url('../img/image-4.png') no-repeat top right;
    background-size: contain;
}

.text-pink {
    color: #FFC4C9;
}

.card-price {
    color: #fff;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
}

.section-title {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    line-height: 30px;
    color: #262D33;
}

.more {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: #262D33;
    padding: 10px;
}

.goods-card {
    position: relative;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 35px;
}

.goods-card .label {
    position: absolute;
    left: 18px;
    top: 18px;
}

.goods-title {
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    line-height: 25px;
    color: #262D33;
}

.goods-description {
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
}

.goods-price {
    margin-top: 30px;
    font-size: 18px;
    line-height: 30px;
    color: #262D33;
    font-weight: 900;
}

.footer {
    background: #8F79D4;
    padding-top: 45px;
    padding-bottom: 40px;
    color: #fff;
}

.footer-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-menu-item:not(:last-child) {
    margin-right: 40px;
}

.footer-menu-link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
}

.social-link {
    text-decoration: none;
    margin-left: 15px;
}

.footer-text {
    color: #E7D9FF;
    font-size: 14px;
    line-height: 20px;
}

.footer-line {
    color: #fff;
    opacity: 0.5;
    size: 1px;
}

.pay-logo {
    vertical-align: middle;
    margin-right: 25px;
}

.top-link {
    text-decoration: none;
    color: #fff;
}

.top-link-text {
    margin-right: 15px;
}

@media (max-width: 1200px) {
    .slide-1 {
        background-size: cover;

    }

    .card-3 {
        background-size: cover;
    }
}

@media (max-width: 992px) {
    .slider-nav {
        display: none;
    }
}

@media (max-width: 576px) {
    .slide-title {
        font-size: 36px;
        line-height: 1.4;
        margin-bottom: 0;
    }

    .card {
        background-position: left top;
    }

    .card-4 {
        background-position: right top;
    }

    .card {
        padding: 30px;
        min-height: 300px;
    }
}